<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Binar Rental</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/5bc8595030.js" crossorigin="anonymous"></script>
    <script src="/js/jquery-3.6.0.js"></script>   
    
</head>

<body oncontextmenu='return false' class='snippet-body'>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <form class="d-flex ms-auto me-2">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn btn-outline-primary" type="submit">Search</button>
        </form>   
        <div class="header_img mx-2"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""></div>        
        <div><span>zildan</span></div>
        
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="#" class="nav_logo"> <img src="/assets/navbar.png" alt=""> <span class="nav_logo-name">Binar Rental</span> </a>
                <div class="nav_list"> 
                    <a href="/" class="nav_link"> <i class='bi bi-house-door nav_icon'></i> <span class="nav_name">Dashboard</span> </a> 
                    <div class="nav-item dropdown">
                        <a href="#" class="nav_link active dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa-solid fa-car-side"></i> <span class="nav_name">Cars</span> </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="/car/cars">cars</a></li>
                          <li><a class="dropdown-item" href="/car/carlist">Cars list</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="content">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/car/cars">cars </a></li>
            <li class="breadcrumb-item"><a href="/car/carlist">car list </a></li>
            <li class="breadcrumb-item active" aria-current="page"> > Add New Car</li>
          </ol>
        </nav>

         <div id="alert" style="position:absolute; left: 50%; transform: translate(-50%, 0); width:20rem;"> </div>

        <div class="head-content my-3 d-flex justify-content-between">
            <div>
                <h4 class="fw-bold">{{endpoint}}</h4>
            </div>
        </div>

        <div class="form my-5 px-2 needs-validation">
            <form>
              <div class="row mb-3">
                <label for="inputname" class="col-sm-1 col-form-label">Nama<span style="color: red;">*</span></label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="inputnama" placeholder="Avanza" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputprice" class="col-sm-1 col-form-label">Sewa Per Hari<span style="color: red;">*</span></label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="inputprice" placeholder="Rp 0.-" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputsize" class="col-sm-1 col-form-label">Ukuran<span style="color: red;">*</span></label>
                <div class="col-sm-4">
                    <select class="form-select" id="size" required>
                      <option value="Small">Small</option>
                      <option value="Medium">Medium</option>
                      <option value="Large">Large</option>
                    </select>
                </div>
              </div><div class="row mb-3">
                <label for="inputimg" class="col-sm-1 col-form-label">Gambar<span style="color: red;">*</span></label>
                <div class="col-sm-4">
                  <input type="file" class="form-control" id="inputimg" required>
                </div>
              </div>
              <div class="mt-5">
                <a href="/car/carlist" role="button" class="btn btn-outline-primary me-1">Cancel</a>
                <button id="btn" type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
            <script>
                (function () {
                  'use strict'

                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.querySelectorAll('.needs-validation')

                  // Loop over them and prevent submission
                  Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                      form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                          event.preventDefault()
                          event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                      }, false)
                    })
                })()
            </script>
        </div>
    </div>
    

    <!--Container Main end-->
    
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src=''></script>
    <script type='text/javascript' src=''></script>
    <script type='text/Javascript'>document.addEventListener("DOMContentLoaded", function(event) {

        const showNavbar = (toggleId, navId, bodyId, headerId) =>{
        const toggle = document.getElementById(toggleId),
        nav = document.getElementById(navId),
        bodypd = document.getElementById(bodyId),
        headerpd = document.getElementById(headerId)

        // Validate that all variables exist
        if(toggle && nav && bodypd && headerpd){
        toggle.addEventListener('click', ()=>{
        // show navbar
        nav.classList.toggle('show')
        // change icon
        toggle.classList.toggle('bx-x')
        // add padding to body
        bodypd.classList.toggle('body-pd')
        // add padding to header
        headerpd.classList.toggle('body-pd')
        })
        }
        }

        showNavbar('header-toggle','nav-bar','body-pd','header')

        /*===== LINK ACTIVE =====*/
        const linkColor = document.querySelectorAll('.nav_link')

        function colorLink(){
        if(linkColor){
        linkColor.forEach(l=> l.classList.remove('active'))
        this.classList.add('active')
        }
        }
        linkColor.forEach(l=> l.addEventListener('click', colorLink))

        // Your code to run since DOM is loaded and ready
        });</script>
        <script src="/js/script.js"></script>
</body>
</html>